.plant-card {
    background-color: var(--white);
    padding: 20px;
    box-shadow: 0px 8px 23px rgba(80, 107, 82, 0.13);
    border-radius: 16px;
    width: 282px;
    height: 418px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.image-box {
    position: relative;
    max-height: 219px;
    overflow: hidden;

}

.image-box img {
    width: 100%;


}

.discount-block {
    position: absolute;
    color: var(--white);
    background-image: url('../../img/discount-bg.svg');
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    right: 0;
    top: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: center;
}

.red-price {
    color: var(--red);
    text-decoration: line-through;
    padding-left: 10px;
    font-size: 16px;
}

.plant-price {
    font-size: 20px;
    font-weight: 400;
}